@layer layout {
	/* #region Grid Wrapper */
	.layout-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: [header-start] 4rem [header-end] [main-start] 1fr [main-end];
		grid-template-areas:
			"header"
			"main";
		min-height: 100%;
	}

	h1 {
		font-size: var(--font-size-xl);
		text-align: center;
	}

	header {
		grid-area: header;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	main {
		grid-area: main;
	}
	/* #endregion */

	/* #region content-wrapper */
	.content-wrapper {
		padding: var(--default_padding);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/* #endregion */

	.card {
		border: solid 0.5px var(--accent-color);
		margin-bottom: 2rem;
		border-radius: var(--brad);
		background-color: var(--background-color);
		padding: 20px;
	}

	@media screen and (min-width: 550px) {
		h1 {
			font-size: var(--font-size-xxxl);
		}

		main {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}

	@media screen and (min-width: 1500px) {
		.layout-grid {
			max-width: 1250px;
		}
	}
}
