@layer layout {
  /* #region Grid Wrapper */
  .layout-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr;
    grid-template-areas:
      "header"
      "main";
    min-height: 100%;
  }

  h1 {
    font-size: var(--font-size-xxl);
    text-align: center;
  }

  @media screen and (min-width: 550px) {
    h1 {
      font-size: var(--font-size-xxxl);
    }

    main {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 1500px) {
    .layout-grid {
      max-width: 1250px;
    }
  }

  header {
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  main {
    grid-area: main;
  }
  /* #endregion */

  /* #region content-wrapper */
  .content-wrapper {
    padding: var(--default_padding);
  }
  /* #endregion */
}
