:root {
  --default_padding: 1rem;

  /* Screen Sizes */
  --screen-sm: 550px;
  --screen-md: 1100px;
  --screen-lg: 1500px;
  --screen-xl: 1500px;

  /* Typography */
  --font-size-xs: clamp(0.6rem, 0.17vw + 0.76rem, 0.7rem);
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3rem);
  --font-size-xxxl: clamp(2.85rem, 3.40vw + 2.47rem, 3.5rem);
}
